@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body{
  background-color: rgb(37, 37, 78);
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(241, 241, 241);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #dbdbdb;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #dbdbdb;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #dbdbdb;
}

/* blog previews / list */
.acc {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #777676;
}
.token-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.token-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.token-preview h3 {
  font-size: 20px;
  color: #292929;
  margin-bottom: 8px;
}
.accordion {
  max-width: 400px;
  margin: 100px auto 0;
  border-radius: 3px;
  background: #f1f1f1;
}

.accordion-visible {
  background: #7177ca;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: 1px solid #474d9b;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.accordion-visible span {
  padding: 15px 0;
  font-size: 20px;
}
.accordion-visible img {
  width: 20px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
  transform: rotate(0deg)
}

.accordion-visible h2 {
  font-size: 20px;
}

.accordion-toggle {
  height: 0px;
  font-size: 18px;
  opacity: 0;
  transition:  
  opacity 0.3s ease-in-out,
  height 0.3s 0.3s ease-in-out;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.animated {
  opacity: 1;
  transition:  
  height 0.3s ease-in-out,
  opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  line-height: 1.3;
}